{%extends 'eshop/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <form enctype="multipart/form-data" method="post" action="">
          {% csrf_token %}
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
              {% if request.user.profile.avatar %}
      <img src="{{request.user.profile.avatar.url }}"  width="80" height="80" class="avatar img-circle" alt="avatar">
      {%else%}
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" title="John Doe" alt="John Doe" class="avatar img-circle" width="120px" height="150px">

            {%endif%}
          <h6>Upload a different photo...</h6>

           {{profile_form.avatar}}
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
          <hr>
        <div class="form-group">
            <label class="col-lg-3 control-label">Street:</label>
            <div class="col-lg-8">
              {{profile_form.street}}<br>
            </div>
          </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              {{profile_form.city}}<br>
            </div>
          </div>
                  <div class="form-group">
            <label class="col-lg-3 control-label">Country:</label>
            <div class="col-lg-8">
              {{profile_form.country}}<br>
            </div>
          </div>
                <div class="form-group">
            <label class="col-lg-3 control-label">Title:</label>
            <div class="col-lg-8">
              {{profile_form.title}}<br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Mobile:</label>
            <div class="col-lg-8">
              {{profile_form.mobile}}<br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Job:</label>
            <div class="col-lg-8">
              {{profile_form.job}}<br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
      </div>
  </div>
    </form>
</div>
<hr>
{% endblock %}