{%extends 'eshop/base.html' %}
{% load staticfiles %}
{% block body %}

<div class="container">
  <form enctype="multipart/form-data" method="post" action="">
          {% csrf_token %}
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
            <label id="labelfile" for="id_avatar"><img src="{% static 'eshop/img/outbox.png' %}"></label>
              {% if request.user.profile.avatar %}
      <img src="{{request.user.profile.avatar.url }}"  width="120" class="img-edit avatar img-circle" alt="avatar">
      {%else%}
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" class="avatar img-circle" width="120px" height="150px">
{{profile_form.avatar}}

            {%endif%}<font style="font-size:0px"><input type="hidden" value="{{profile_form.avatar}}"/></font><br><br>

        </div>
</div>
        <!--      <div class="col-md-3">
        <div class="text-center">
                {% if request.user.profile.avatar %}
            &lt;!&ndash;<label id="labelfile" for="id_avatar"><img src="{% static 'eshop/img/outbox.png' %}"></label>&ndash;&gt;
      <img src="{{request.user.profile.avatar.url }}"  width="120" height="150" class="avatar img-circle">
      {%else%}
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" class="avatar img-circle" width="120px" height="150px">
      </div>
        {%endif%}

            <i class="fa fa-upload" aria-hidden="true">{{profile_form.avatar}}</i>
            <br><br>
      </div>
    </div>-->

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
          <hr>
        <div class="form-group">
            <label class="col-lg-3 control-label">Street:</label>
            <div class="col-lg-8">
              {{profile_form.street}}<br>
            </div>
          </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              {{profile_form.city}}<br>
            </div>
          </div>
                  <div class="form-group">
            <label class="col-lg-3 control-label">Country:</label>
            <div class="col-lg-8">
              {{profile_form.country}}<br>
            </div>
          </div>
                <div class="form-group">
            <label class="col-lg-3 control-label">Title:</label>
            <div class="col-lg-8">
              {{profile_form.title}}<br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Mobile:</label>
            <div class="col-lg-8">
              {{profile_form.mobile}}<br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Job:</label>
            <div class="col-lg-8">
              {{profile_form.job}}<br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
      </div>
  </div>
    </form>
</div>
<hr>


{% endblock %}